.curve{
  border-radius: 10px;
}
.blackBox{
  background-color: black;
  height: auto;
  width: 320px;
  color: red;
  font-size: 32px;
  text-align: center;
}
.aquaBackground{
  background-image: url("../images/aqua.jpg");
  border: 3px solid gray;
  background-color: white;
  width: 200px;
  height: 350px;
  object-fit: contain;
  background-size:contain;
  background-repeat: no-repeat;
}
.blue{
  background-color: blue;
}
