.curve{
  border-radius: 10px;
}
.blackBox{
  background-color: black;
  height: auto;
  width: 320px;
  color: red;
  font-size: 32px;
  text-align: center;
}
.aquaBackground{
  background-image: url("./aqua.jpg");
  border: 3px solid gray;
  background-color: white;
  width: 200px;
  height: 350px;
  object-fit: contain;
  background-size:contain;
  background-repeat: no-repeat;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.shadow{
  box-shadow: 5px 5px;
}
.simonButton{
  min-width:100px;
  min-height:50px;
}
.simonNextColor{
  width:100px;
  min-height:50px;
  border: solid;
  border-width: 5px;
  position:relative;
  left:150px;
}
.simon{
  margin:10;
  background-color: white;
  min-width: 100px;
  min-height: 200px;
}
